
.stButton > button:first-child {
    background-color: #486b48;
    color: #ffffff;
    border-color: rgb(247, 242, 242)
}

.st-emotion-cache-ue6h4q {
    font-size: 130px;
    color: rgb(13, 14, 13);
    display: flex;
    margin-bottom: 0,5rem;
    height: auto;
    min-height: 1.5rem;
    vertical-align: middle;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

#MainMenu {
    visibility: hidden;

}

block-container{
    background-color: #141414;
    color: #080808;
}