.stButton > button:first-child {
    background-color: #031d03;
    color: #ffffff;
    border-color: rgb(247, 242, 242)
}

/* Cor do texto para tela principal */
.appview-container{
    background-color: #298E29;
}
/* Cor do texto para tela principal */
.st-emotion-cache-v3hh4s{
    background-color: #298E29;
}

.st-emotion-cache-ue6h4q {
    font-size: 130px;
    color: rgb(236, 241, 236);
    display: flex;
    margin-bottom: 0,5rem;
    height: auto;
    min-height: 1.5rem;
    vertical-align: middle;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}